@import '../variables.css';

.app-logo {
  display: inline-block;

  &::before {
    content: '';
    display: inline-block;
    font-weight: bold;
    width: 128px;
    height: calc(128px / (221 / 23));
    background: url('../../assets/flowloop-logo.svg') 0 0 / 100% 100%;
  }
}
