@import '../variables.css';

/*
 * Each individual color picker peg
 */

.color-picker-item {
  & {
    display: inline-block;
    margin: 0;
    padding: 8px 4px;
    border: 0;
    background: transparent;
    cursor: pointer;
  }

  &:hover {
    background: var(--hover-color);
  }

  & > .peg {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }

  &.-active {
    background: var(--focus-color);
  }

  &.-active > .peg {
    box-shadow: 0 0 0 2px white;
  }
}
