@import '../variables.css';

/*
 * The menu
 */

.label-selector-menu {
  background: white;
  width: 256px;
  padding: 8px 0;
  border-radius: 3px;
  box-shadow: var(--button-shadow-active);
  text-align: left;

  & > .items {
    max-height: 256px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  & > .items > .item {
    width: 100%;
  }
}
