@import '../variables.css';

/*
 * Menu item
 */

.label-selector-item {
  & {
    display: block;
    margin: 0;
    border: 0;
    background: transparent;
    cursor: pointer;
    white-space: nowrap;
    padding: 12px 16px;
    text-align: left;
    position: relative;
  }

  & + & {
    border-top: solid 1px var(--line-color);
  }

  &:hover {
    background-color: var(--hover-color);
  }

  & > .icon {
    display: inline-block;
    vertical-align: middle;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 16px;
    box-shadow: 0 0 0 2px var(--line-color);
  }

  & > .name {
    font-size: 1rem;
  }
}

/*
 * Selected
 */

.label-selector-item.-active {
  &::after {
    @apply --ion-icon;
    @apply --ion-icon-md-checkmark;

    font-size: 20px;
    color: var(--accent);
    position: absolute;
    right: 16px;
    top: 10px;
  }
}

/*
 * Edit
 */

.label-selector-item.-editing {
  & {
    padding: 0;
  }

  &.-focus {
    background-color: var(--hover-color);
  }

  & > .icon {
    display: none;
  }

  & > .name {
    border: 0;
    padding: 12px 16px;
    margin: 0;
    background: transparent;
    width: 100%;
  }

  & > .name:focus {
    background-color: var(--hover-color);
  }
}
