@import '../variables.css';

.mode-selector {
  & {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    white-space: nowrap;
  }

  & > .icon {
    display: inline-block;
    width: 48px;
    height: 48px;
    line-height: 48px;
    border-radius: 50%;
  }

  & > .icon::before {
    @apply --ion-icon;

    font-size: 24px;
    position: relative;
    top: -2px;
  }

  &.-single > .icon::before {
    @apply --ion-icon-md-git-commit;
  }

  &.-continuous > .icon::before {
    @apply --ion-icon-md-repeat;
  }

  &.-alternate > .icon::before {
    @apply --ion-icon-md-shuffle;
  }

  & > .label {
    color: var(--gray-text);
    margin-left: 8px;
  }

  &:hover > .icon,
  &:focus > .icon {
    background-color: var(--focus-color);
  }

  &:active > .icon {
    background-color: var(--active-color);
  }

  &[disabled] {
    cursor: not-allowed;
  }

  &[disabled] > .label,
  &[disabled] > .icon {
    color: var(--gray-text);
  }
}
