@import '../variables.css';

.settings-heading {
  & {
    background: var(--text-color);
    color: white;
    padding: 32px 16px;
    text-align: center;
  }

  & > h1 {
    @apply --font-size-0;

    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1em;
  }
}
