@import '../variables.css';

.settings-items {
  margin: -16px;
}

.settings-item {
  & {
    padding: 8px 16px;
  }

  & + & {
    border-top: solid 1px var(--light-line-color);
  }

  & > h2,
  & > h3,
  & > p {
    margin: 0;
    padding: 0;
    font-size: 1rem;
  }

  & > h2 {
    @apply --font-size--1;

    padding-top: 16px;
    color: var(--accent);
    font-weight: bold;
  }

  & > h3 {
    font-weight: normal;
  }

  & > p {
    @apply --font-size--1;

    color: var(--gray-text);
  }

  & > p > img {
    display: inline-block;
    vertical-align: middle;
  }
}
