@import '../variables.css';

/*
 * Timer layout.
 *
 * - body - the timer stuff
 * - rawbody - other stuff
 * - fixed - fixed stuff
 * - topleft
 * - topright
 */

.timer-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;

  &.-log {
    background: white;
  }

  & > .fixed {
    flex: 0 0 auto;
  }

  & > .body {
    flex: 1 0 auto;
  }

  & > .rawbody {
    flex: 1 0 auto;
  }

  & > .topleft {
    position: absolute;
    left: 16px;
    top: 16px;
  }

  & > .topright {
    position: absolute;
    right: 16px;
    top: 16px;
  }

  @media (width <= 480px) {
    & > .topleft {
      left: 0;
      top: 0;
    }

    & > .topright {
      right: 0;
      top: 0;
    }
  }
}

.timer-layout > .body {
  display: flex;
  flex-direction: column;
  padding: 32px;
  justify-content: center;
  align-items: center;

  @media (--horizontal-layout) {
    flex-direction: row;
  }

  & > * {
    flex: 0 0 auto;
  }

  & > .space {
    flex: 1 1 50%;
  }
}
