@import '../variables.css';

:root {
  --timer-button-size: 80px;
}

.timer-button {
  display: inline-block;
  background: white;
  border: 0;
  box-shadow: var(--button-shadow);
  cursor: pointer;
  width: var(--timer-button-size);
  height: var(--timer-button-size);
  line-height: var(--timer-button-size);
  border-radius: 50%;
  color: var(--text-color);
}
