@import '../variables.css';

.timeline-small-items {
  white-space: nowrap;
}

.timeline-small-item {
  display: inline-block;
  min-width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: 10px;
  border-radius: 16px;
  padding: 0 4px;
  background: var(--accent);
  color: white;
  margin: 0 4px;
}
