@import '../variables.css';

.timer-heading {
  text-align: center;
  animation: fade-in 600ms ease-out;

  & > h1,
  & > p {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-weight: normal;
  }

  & > p {
    color: var(--gray-text);
  }
}
