@import '../variables.css';

:root {
  --timer-display-small: 128px;
  --timer-display-large: 196px;
  --timer-display-xl: 240px;

  --use-timer-display-large: {
    font-size: 2.48rem;
    height: var(--timer-display-large);
    line-height: var(--timer-display-large);
    width: var(--timer-display-large);
  }

  --use-timer-display-xl: {
    font-size: 2.98rem;
    height: var(--timer-display-xl);
    line-height: var(--timer-display-xl);
    width: var(--timer-display-xl);
  }
}

.timer-display {
  font-size: 2.07rem;
  height: var(--timer-display-small);
  line-height: var(--timer-display-small);
  width: var(--timer-display-small);
  transition: all 150ms ease-out;
  box-shadow: inset 0 0 0 1px var(--line-color);
  border-radius: 50%;
  font-weight: 300;
  text-align: center;

  @media (--vertical-layout) and (height > 580px) {
    @apply --use-timer-display-large;
  }

  @media (--vertical-layout) and (height > 800px) {
    @apply --use-timer-display-large;
  }

  @media (--horizontal-layout) {
    @apply --use-timer-display-large;
  }

  @media (--horizontal-layout) and (width > 992px) {
    @apply --use-timer-display-xl;
  }
}
