@import '../variables.css';

.timer-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &.-log {
    background: white;
  }

  & > .bottom {
    flex: 0 0 auto;
  }

  & > .body {
    flex: 1 0 auto;
  }

  & > .rawbody {
    flex: 1 0 auto;
  }
}

.timer-layout > .body {
  display: flex;
  flex-direction: column;
  padding: 32px;
  justify-content: center;
  align-items: center;

  @media (--horizontal-layout) {
    flex-direction: row;
  }

  & > * {
    flex: 0 0 auto;
  }

  & > .space {
    flex: 1 1 50%;
  }
}
