@import '../variables.css';

.timer-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  & > .button {
    margin: 0 16px;
    flex: 0 0 auto;
  }

  @media (width > 768px) {
    flex-direction: column;

    & > .button {
      margin: 16px 0;
    }
  }

  & > .logo {
    margin: 8px auto;
  }

  @media (width <= 768px) {
    & > .logo {
      display: none;
    }
  }
}

.app-logo {
  display: inline-block;

  &::before {
    content: '';
    display: inline-block;
    font-weight: bold;
    width: 128px;
    height: calc(128px / (221 / 23));
    background: url('../../assets/flowloop-logo.svg') 0 0 / 100% 100%;
  }
}
