@import '../variables.css';

:root {
  --timer-display-small: 128px;
  --timer-display-large: 196px;
  --timer-display-xl: 240px;
}

.timer-display {
  @apply --font-size-4;

  height: var(--timer-display-small);
  line-height: var(--timer-display-small);
  width: var(--timer-display-small);
  transition: all 150ms ease-out;
  box-shadow: inset 0 0 0 1px var(--line-color);
  border-radius: 50%;
  font-weight: 300;
  text-align: center;

  @media (height > 580px) {
    @apply --font-size-5;

    height: var(--timer-display-large);
    line-height: var(--timer-display-large);
    width: var(--timer-display-large);
  }

  @media (width > 992px) {
    @apply --font-size-6;

    height: var(--timer-display-xl);
    line-height: var(--timer-display-xl);
    width: var(--timer-display-xl);
  }
}
