@import '../variables.css';

:root {
  --timer-button-small: 56px;
  --timer-button-size: 80px;
  --timer-button-large: 96px;
}

.timer-button {
  & {
    display: inline-block;
    background-color: white;
    border: 0;
    box-shadow: var(--button-shadow);
    cursor: pointer;
    width: var(--timer-button-size);
    height: var(--timer-button-size);
    line-height: calc(var(--timer-button-size) + 1px);
    border-radius: 50%;
    color: var(--text-color);
    animation: pop-in 300ms ease-out;
    transform: translate3d(0, 0, 0);
    transition:
      transform 25ms ease-out,
      box-shadow 75ms ease-out,
      height 75ms ease-out,
      width 75ms ease-out,
      line-height 75ms ease-out,
      background-color 75ms linear;
  }

  @media (width > 992px) {
    &.-large {
      width: var(--timer-button-large);
      height: var(--timer-button-large);
      line-height: calc(var(--timer-button-large) + 1px);
    }
  }

  /* Smaller stop button */
  @media (width <= 480px) {
    &:not(.-large) {
      width: var(--timer-button-small);
      height: var(--timer-button-small);
      line-height: calc(var(--timer-button-small) + 1px);
    }
  }

  &:hover,
  &:focus {
    box-shadow: var(--button-shadow-active);
  }

  &:active {
    transform: translate3d(0, 1px, 0);
    box-shadow: var(--button-shadow);
    transition: all 25ms ease-out;
  }

  &.-stop {
    animation: fade-in-late 600ms ease-out;
  }
}

/*
 * Muted look (not white)
 */

.timer-button.-break {
  & {
    background: transparent;
    box-shadow: inset 0 0 0 1px var(--line-color);
  }

  &:hover,
  &:focus {
    transform: translate3d(0, 0, 0);
    background-color: color(var(--gray-text) alpha(5%));
  }

  &:active {
    transform: translate3d(0, 1px, 0);
    background-color: color(var(--gray-text) alpha(10%));
  }
}

/*
 * Stop button icon
 */

.timer-button.-stop > .icon::before {
  @apply --ion-icon;
  @apply --ion-icon-md-close;

  position: relative;
  top: -1px;
  font-size: 24px;

  /* Smaller on mobile */
  @media (width <= 480px) {
    font-size: 16px;
  }
}
