:root {
  --animation-delay: 300ms;
}

.webpack-welcome {
  background: white;
  padding: 32px 24px;
  max-width: 200px;
  border-radius: 3px;
  box-shadow: 0 4px 8px color(black alpha(5%));
  margin: 38vh auto 32px;
  text-align: center;

  & > .icon::before {
    content: '';
    display: inline-block;
    width: 64px;
    height: 64px;
    background: url('icon.png') 0 0 / 64px 64px no-repeat;
  }

  & > p {
    margin: 16px 0 0;
    padding: 0;
    font-weight: bold;
  }
}

.webpack-welcome {
  opacity: 0;
  transform: scale(0.9);
  transition:
    opacity 300ms ease-out var(--animation-delay),
    transform 300ms ease-out var(--animation-delay);

  &.-show {
    opacity: 1;
    transform: scale(1);
  }
}
