:root {
  --sans: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --gray: #8090a0;
  --background: #eeeef1;
  --text-color: #505060;
  --accent: #42a5f5;
  --line-color: color(var(--text-color) alpha(15%));
  --button-shadow: 0 4px 8px color(#567 alpha(10%));
  --button-shadow-active: 0 6px 12px color(#567 alpha(20%));
  --gray-text: #8090a0;
}

@custom-media --horizontal-layout (width > 768px);
@custom-media --vertical-layout (width <= 768px);

/*
 * Modular scale
 */

@custom-media --ms-viewport-md (width > 480px);
@custom-media --ms-viewport-lg (width > 768px);

:root {
  --ms-ratio-sm: 1.15;
  --ms-ratio-md: 1.17;
  --ms-ratio-lg: 1.2;
  --ms-base: 1rem;

  --font-size--1: {
    font-size: calc(var(--ms-base) / var(--ms-ratio-sm));
    @media (--ms-viewport-md) { font-size: calc(var(--ms-base) / var(--ms-ratio-md)); }
    @media (--ms-viewport-lg) { font-size: calc(var(--ms-base) / var(--ms-ratio-lg)); }
  }

  --font-size-1: {
    font-size: calc(var(--ms-base) * var(--ms-ratio-sm));
    @media (--ms-viewport-md) { font-size: calc(var(--ms-base) * var(--ms-ratio-md)); }
    @media (--ms-viewport-lg) { font-size: calc(var(--ms-base) * var(--ms-ratio-lg)); }
  }

  --font-size-2: {
    font-size: calc(var(--ms-base) * var(--ms-ratio-sm) * var(--ms-ratio-sm));
    @media (--ms-viewport-md) { font-size: calc(var(--ms-base) * var(--ms-ratio-md) * var(--ms-ratio-md)); }
    @media (--ms-viewport-lg) { font-size: calc(var(--ms-base) * var(--ms-ratio-lg) * var(--ms-ratio-lg)); }
  }

  --font-size-3: {
    font-size: calc(var(--ms-base) * var(--ms-ratio-sm) * var(--ms-ratio-sm) * var(--ms-ratio-sm));
    @media (--ms-viewport-md) { font-size: calc(var(--ms-base) * var(--ms-ratio-md) * var(--ms-ratio-md) * var(--ms-ratio-md)); }
    @media (--ms-viewport-lg) { font-size: calc(var(--ms-base) * var(--ms-ratio-lg) * var(--ms-ratio-lg) * var(--ms-ratio-lg)); }
  }

  --font-size-4: {
    font-size: calc(var(--ms-base) * var(--ms-ratio-sm) * var(--ms-ratio-sm) * var(--ms-ratio-sm) * var(--ms-ratio-sm));
    @media (--ms-viewport-md) { font-size: calc(var(--ms-base) * var(--ms-ratio-md) * var(--ms-ratio-md) * var(--ms-ratio-md) * var(--ms-ratio-md)); }
    @media (--ms-viewport-lg) { font-size: calc(var(--ms-base) * var(--ms-ratio-lg) * var(--ms-ratio-lg) * var(--ms-ratio-lg) * var(--ms-ratio-lg)); }
  }

  --font-size-5: {
    font-size: calc(var(--ms-base) * var(--ms-ratio-sm) * var(--ms-ratio-sm) * var(--ms-ratio-sm) * var(--ms-ratio-sm) * var(--ms-ratio-sm));
    @media (--ms-viewport-md) { font-size: calc(var(--ms-base) * var(--ms-ratio-md) * var(--ms-ratio-md) * var(--ms-ratio-md) * var(--ms-ratio-md) * var(--ms-ratio-md)); }
    @media (--ms-viewport-lg) { font-size: calc(var(--ms-base) * var(--ms-ratio-lg) * var(--ms-ratio-lg) * var(--ms-ratio-lg) * var(--ms-ratio-lg) * var(--ms-ratio-lg)); }
  }

  --font-size-6: {
    font-size: calc(var(--ms-base) * var(--ms-ratio-sm) * var(--ms-ratio-sm) * var(--ms-ratio-sm) * var(--ms-ratio-sm) * var(--ms-ratio-sm) * var(--ms-ratio-sm));
    @media (--ms-viewport-md) { font-size: calc(var(--ms-base) * var(--ms-ratio-md) * var(--ms-ratio-md) * var(--ms-ratio-md) * var(--ms-ratio-md) * var(--ms-ratio-md) * var(--ms-ratio-md)); }
    @media (--ms-viewport-lg) { font-size: calc(var(--ms-base) * var(--ms-ratio-lg) * var(--ms-ratio-lg) * var(--ms-ratio-lg) * var(--ms-ratio-lg) * var(--ms-ratio-lg) * var(--ms-ratio-lg)); }
  }

  --font-size-7: {
    font-size: calc(var(--ms-base) * var(--ms-ratio-sm) * var(--ms-ratio-sm) * var(--ms-ratio-sm) * var(--ms-ratio-sm) * var(--ms-ratio-sm) * var(--ms-ratio-sm) * var(--ms-ratio-sm));
    @media (--ms-viewport-md) { font-size: calc(var(--ms-base) * var(--ms-ratio-md) * var(--ms-ratio-md) * var(--ms-ratio-md) * var(--ms-ratio-md) * var(--ms-ratio-md) * var(--ms-ratio-md) * var(--ms-ratio-md)); }
    @media (--ms-viewport-lg) { font-size: calc(var(--ms-base) * var(--ms-ratio-lg) * var(--ms-ratio-lg) * var(--ms-ratio-lg) * var(--ms-ratio-lg) * var(--ms-ratio-lg) * var(--ms-ratio-lg) * var(--ms-ratio-lg)); }
  }

  --font-size-8: {
    font-size: calc(var(--ms-base) * var(--ms-ratio-sm) * var(--ms-ratio-sm) * var(--ms-ratio-sm) * var(--ms-ratio-sm) * var(--ms-ratio-sm) * var(--ms-ratio-sm) * var(--ms-ratio-sm) * var(--ms-ratio-sm));
    @media (--ms-viewport-md) { font-size: calc(var(--ms-base) * var(--ms-ratio-md) * var(--ms-ratio-md) * var(--ms-ratio-md) * var(--ms-ratio-md) * var(--ms-ratio-md) * var(--ms-ratio-md) * var(--ms-ratio-md) * var(--ms-ratio-md)); }
    @media (--ms-viewport-lg) { font-size: calc(var(--ms-base) * var(--ms-ratio-lg) * var(--ms-ratio-lg) * var(--ms-ratio-lg) * var(--ms-ratio-lg) * var(--ms-ratio-lg) * var(--ms-ratio-lg) * var(--ms-ratio-lg) * var(--ms-ratio-lg)); }
  }
}
