@import 'normalize.css';
@import '../variables.css';

* {
  box-sizing: border-box;
}

html {
  background: #f8f9fa;
  font-family: var(--sans);
  color: var(--text-color);
  line-height: 1.6;
}

html,
body {
  height: 100%;
}

.app-root {
  min-height: 100%;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button:active,
a:active {
  outline: 0;
}

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }
}
