:root {
  /*
   * Mixin to expand the hit area of a button
   */

  --expand-hit-area: {
    content: '';
    display: block;
    position: absolute;
    top: -16px;
    bottom: -16px;
    left: -16px;
    right: -16px;
    background: rgba(0, 0, 0, 0);
  }

  --expand-hit-area-32: {
    content: '';
    display: block;
    position: absolute;
    top: -32px;
    bottom: -32px;
    left: -32px;
    right: -32px;
    background: rgba(0, 0, 0, 0);
  }
}
